<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>983921852226-luevndpn24gsolbsjfk3nd2bk6qujcue.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.983921852226-luevndpn24gsolbsjfk3nd2bk6qujcue</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>983921852226-fo8dlihk39qondnm02tbe624tteqk9i8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyATcjTwA2AeCvz3O4nEsbbcQs_wN-AnsaA</string>
	<key>GCM_SENDER_ID</key>
	<string>983921852226</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.artisansp</string>
	<key>PROJECT_ID</key>
	<string>artisan-8a1a5</string>
	<key>STORAGE_BUCKET</key>
	<string>artisan-8a1a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:983921852226:ios:d5f1bf6779031b294f52db</string>
</dict>
</plist>